@model FeemanagementSystem.Models.DocumentType

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" data-ajax="true" data-ajax-method="Post" data-ajax-complete="UserPost">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Add New Categories</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
            <label asp-for="DocumetCat" class="control-label"></label>
            <input asp-for="DocumetCat" class="form-control myinput" />
            <span asp-validation-for="DocumetCat" class="text-danger"></span>
        </div>
        </div>
        <div class="modal-footer">
           
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </div>
           
        </form>
    

