@model FeemanagementSystem.Models.UploadFileView
    
        <div class="card p-2 mt-5">
            <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="TypeId" class="control-label"></label>
                        <select asp-for="TypeId" class="form-select" asp-items="@ViewBag.TypeId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="FileUpload" class="control-label"></label>
                        <input asp-for="FileUpload" class="form-control" />
                        <span asp-validation-for="DocFile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
        </div>
 