@model FeemanagementSystem.Models.UserList


        <form asp-action="ChangePassword" data-ajax="true" data-ajax-method="post" data-ajax-complete="ChangePasswordPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <input asp-for="Phone" hidden class="form-control" />
                <input asp-for="UserEmail" hidden class="form-control" />
                <input asp-for="FullName" hidden class="form-control" />
                 <input asp-for="UserAddress" hidden class="form-control" />
                <input asp-for="UserRoleType" hidden class="form-control" />
                <input asp-for="LoginStatus" hidden class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Upassword" class="control-label">New Password:</label>
                <input asp-for="Upassword" required id="newpsw" class="form-control" />
                <span asp-validation-for="Upassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Confirm Password:</label>
                <input type="text" id="confirm-psw" required class="form-control"  />
            </div>
            <div class="form-group" id="conpsw-error"></div>
            <div class="form-group mt-3">
                <input type="submit" id="pswsave-btn" value="Save" class="btn btn-primary" />
            </div>
        </form>

<button type="button" hidden  class="btn btn-primary" id="modal-click" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  click
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmation:</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span class="text-danger">Are You stay with Login?</span>
            </div>
            <div class="modal-footer">
                <a asp-action="Logout" asp-controller="Home" class="btn btn-secondary" >No</a>
                <button type="button" data-bs-dismiss="modal" id="btn-yes" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>
<script>
   $(document).ready(function(){ 
            
        $('#newpsw,#confirm-psw').keyup(function () {
          
             var newpsw = $('#newpsw').val();
        var conpsw = $('#confirm-psw').val();
            //var conpsw=$(this).val();
            if(newpsw === conpsw){
                $('#psw-confirm').text('');
                $('#pswsave-btn').removeClass('disabled');
            }else{                
               
                $('#conpsw-error').html(`<span class="text-danger" id='psw-confirm'>confirm password doesn't match </span>`);
                $('#pswsave-btn').addClass('disabled');
            }

        });
   });
    ChangePasswordPost=function(xhr){
      
        if (xhr.responseText == 'success'){
            alert('Your Password changed Successfully');
            $('#modal-click').click();
        }else{
            alert('Your Password Changed Failled');
        }
    }
    $('#btn-yes').on('click',function(){
        location.reload();
    });
</script>