@model FeemanagementSystem.Models.UserList

@{
    ViewData["Title"] = "Edit";
}


        <form asp-action="Edit">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Update User Information</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Upassword" class="control-label"></label>
                <input asp-for="Upassword" class="form-control" />
                <span asp-validation-for="Upassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAddress" class="control-label"></label>
                <input asp-for="UserAddress" class="form-control" />
                <span asp-validation-for="UserAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginStatus" class="control-label"></label>
                <input asp-for="LoginStatus" class="form-control" />
                <span asp-validation-for="LoginStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRoleType" class="control-label"></label>
                <input asp-for="UserRoleType" class="form-control" />
                <span asp-validation-for="UserRoleType" class="text-danger"></span>
            </div>
           

        </div>
        <div class="modal-footer">           
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
            
        </form>
    

