@model IEnumerable<FeemanagementSystem.Models.UserList>

@{
    ViewData["Title"] = "UserList";
}
<div class="row">
    <div class="col-sm-12 ">
        <div class="card m-3 p-2">
            <div class="card-body">

                <div class="text-center">
                    <h3>UserList</h3>
                </div>
                <a asp-controller="UserLists" asp-action="Create" data-ajax="true" data-ajax-method="get" data-ajax-complete="GetCreatePage" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-dark"><i class="fa-solid fa-plus" style="color: #f6f7f9;"></i></a>
                <a asp-action="UserList" hidden asp-controller="UserLists" id="btnuserList" data-ajax="true" data-ajax-method="get" data-ajax-update="#userdata"></a>
                <div class="table-overflow" >
                    <table class="table table-bordered" id="data">
                        <thead>
                            <tr>
                                <th>S.N</th>
                                <th>FullName</th>
                                <th>UserEmail</th>
                                <th>UserAddress</th>
                                <th>Phone</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="userdata">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(window).on("load", function () {

        $("#btnuserList").trigger('click');
    });
   
    UserPost=function(xhr){
        alert("User Added SuccessFully");
        $("#btnuserList").trigger('click');
        $('.myinput').val('');
    }
    deletePage = function (xhr) {
        
        $("#btnuserList").click();
    }
    $(document).ready(function () {
        $("#data").DataTable({
            
        });
    });
</script>
