@model FeemanagementSystem.Models.UserList
@{
    ViewData["title"] = "ChangePassword";
}
<style>


    .oldpsw {
        margin-top: 100px;
    }

        .oldpsw .card {
            width: 300px;
            margin: auto;
           
        }
        .btn-hide{
            display:none;
        }

    .oldpsw hr {
        width:340px;
        margin:auto;
    }

</style>
<div class="oldpsw">
    <a asp-action="ChangePassword" asp-controller="UserLists" data-ajax="true" hidden data-ajax-method="get" data-ajax-update="#changePasswordContent" class="btn" id="btn-click"> click</a>
    <div class="text-center ">
        <h2>Change Your Password</h2>
        <hr />
    </div>
    <div class="card p-2 mt-5 ">
        <div class=" justify-content-center">
            <form asp-action="OldPassword" data-ajax="true" data-ajax-method="post" data-ajax-complete="OldPassword">
                <div class="form-group">
                    <label asp-for="Upassword" class="control-label">Current Password:</label>
                    <input asp-for="Upassword" class="form-control myinput" id="current-psw" placeholder="Enter Your Current Password****" />
                    <span asp-validation-for="Upassword" class="text-danger"></span>
                </div>
                <div class="form-group " id="error">
                </div>
                <div class="form-group m-3 justify-content-end">
                    <input class="btn btn-primary btn-next disabled" value="Next" type="submit" />
                </div>
            </form>
            <div id="changePasswordContent"></div>
        </div>
    </div>   
</div>
<script>
    $('#current-psw').keyup(function(){
        $('.btn-next').removeClass('disabled');
    });
    OldPassword = function (xhr) {
        if (xhr.responseText == "Success") {
            $('#btn-click').click();
            $('.btn-next').addClass('btn-hide');
            $('#current-psw').prop('readonly', true);
            $('#old-psw-error').text('');
           
        } else {

            document.getElementById('error').innerHTML = "<div><span class='text-danger' id='old-psw-error'> Your password dosen't match </span> </div>";
        }
    }
</script>