@model FeemanagementSystem.Models.FeeHeader

@{
    ViewData["Title"] = "Edit";
}


        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Fid" />
           
            <div class="form-group">
                <input asp-for="Title" hidden class="form-control" />
                <input asp-for="EntryUserId" hidden class="form-control" />
                
            </div>
           
          
            <div class="form-group">
                <label asp-for="ReasonForCancelled" class="control-label"></label>
                <input asp-for="ReasonForCancelled" class="form-control" />
                <span asp-validation-for="ReasonForCancelled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    
