@model FeemanagementSystem.Models.ReceiptPrint

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ReceiptPrint</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PrintId" />
            <div class="form-group">
                <label asp-for="Rid" class="control-label"></label>
                <select asp-for="Rid" class="form-control" asp-items="ViewBag.Rid"></select>
                <span asp-validation-for="Rid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrintTime" class="control-label"></label>
                <input asp-for="PrintTime" class="form-control" />
                <span asp-validation-for="PrintTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrintDate" class="control-label"></label>
                <input asp-for="PrintDate" class="form-control" />
                <span asp-validation-for="PrintDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrintUserId" class="control-label"></label>
                <select asp-for="PrintUserId" class="form-control" asp-items="ViewBag.PrintUserId"></select>
                <span asp-validation-for="PrintUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

